/* ========== Colors ========== */

$color-primary: #ee2034;
$color-secondary: #212c30;
$color-grey: #999999;
$color-light-grey: #d9d9d9;

$color-light: #ffffff;
$color-light-dark: #bababa;
$color-semi-dark: #495057;
$color-dark: #000000;

$color-body: #ebebeb;
